######################################################################
# (C)Copyright 2021,2022 Hewlett Packard Enterprise Development LP
######################################################################
### Dependent python packages for user's model training ###

keras
pandas
sklearn
protobuf==3.15.6
opencv-python
